.App {
  display: grid;
  height: 100vh;
  overflow-y: scroll;
  grid-template-rows: [header] 80px [main] auto [footer] 80px;
  color: #04b1c5;

  font-size: 14px;
}

.Header {
  grid-row: header;
  align-items: center;
  justify-content: center;
  background-color: antiquewhite;
  font-size: 16px;
}
.Navigation {
  display: flex;
  margin: 10px;
  justify-content: space-around;
}

.Main {
  display: flex;
  grid-row: main;
  justify-content: center;
  width: 100vw;
}

.Footer {
  display: flex;
  grid-row: footer;
  align-items: center;
  justify-content: center;
}

.Name {
  margin: 5px;
}

.IndividualCharacter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  margin-top: 20px;
}

.IndividualCharacterBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.Description {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
